{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}PBE - Projeto{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'base.css' %}">

  {% block extra_css %}{% endblock %}

</head>
<body>
  <header>
    </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>©Yago milico</p>
  </footer>

  <script src="{% static 'css/js/main.js' %}"></script>
</body>
</html>