{% extends "base.html" %}
{% load static %}

{% block title %}Home — Plataforma de Monitoria{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}


{% block content %}
<div class="container home-hero">

  <img src="{% static 'css/img/logo.png' %}" 
    alt="Ibmec" 
    style="height: 50px; margin-bottom: 20px;">

  <h1 class="home-title">Plataforma de Monitoria</h1>

  <p class="home-subtitle">
    Bem-vindo à plataforma acadêmica de monitoria do Ibmec.<br>
    Aqui você pode visualizar vagas, realizar inscrições e acompanhar todo o processo.
  </p>

  <div class="home-actions">

    <a href="{% url 'login' %}" class="home-btn btn-aluno">
      Acessar como Aluno
    </a>

    <a href="{% url 'login-professor' %}" class="home-btn btn-professor">
      Acessar como Professor
    </a>

  </div>

</div>

<div class="home-footer">
  © 2025 Plataforma de Monitoria — Ibmec 
</div>

{% endblock %}